@model Harissa.Data.Data.PageSettings

<h4>PageSettings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Viewedit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PageSettingsID" />
            <div class="form-group">
                <label asp-for="NoPicture" class="control-label"></label>
                <input asp-for="NoPicture" class="form-control" />
                <span asp-validation-for="NoPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

