@model Harissa.Data.Data.Concert
@using Harissa.Data.HelperClass

@await Html.PartialAsync("TopNavi")

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row align-items-end">
        <div class="col-lg-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConcertID" />
            <input type="hidden" asp-for="FormFileItem" />
            <input type="hidden" asp-for="MediaItem" />
            <div class="form-group">
                @{
                    string getimg = new CloudAccess().GetImg(Model.MediaItem);
                }
                <img src="@getimg" class="imgPreview rounded img-thumbnail" />
                <input asp-for="FormFileItem" class="form-control newMediaItem" />
                <span asp-validation-for="FormFileItem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="8" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>

        </div>
        <div class="col-12 text-right">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


