<div class="row">
    <div class="col text-left">
        <h4><i class="@ViewBag.Icon m-2" style="font-size: 2.5rem;"></i> @ViewBag.Path</h4>
    </div>
    <div class="col text-right">
        @{
            if (ViewBag.Action == "Create")
            {
                <a href="#"><i id="createButton" class="fas fa-plus-circle" style="font-size:2rem; color:black;"></i></a>
            }
            else if (ViewBag.Action == "Back")
            {
                <a asp-action="Index"><i class="fas fa-arrow-circle-left" style="font-size:2rem; color:black;"></i></a>
            }
        }
    </div>
    <div class="col-12">
        <h6>@ViewBag.Message</h6>
        <hr />
    </div>
</div>


