@model Harissa.Data.Data.MusicPlatform
@using Harissa.Data.HelperClass

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            @{ string img = new CloudAccess().GetImg(null);}
            <img src="@img" class="imgPreview img-thumbnail" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewIcon" class="control-label"></label>
                <input asp-for="NewIcon" class="form-control newMediaItem" />
                <span asp-validation-for="NewIcon" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </div>
    </div>
</form>

<script src="~/js/photoPreview.js">
</script>
