@model Harissa.Data.Data.MusicLink

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MusicLink</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LinkToAlbum" class="control-label"></label>
                <input asp-for="LinkToAlbum" class="form-control" />
                <span asp-validation-for="LinkToAlbum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusicPlatformID" class="control-label"></label>
                <select asp-for="MusicPlatformID" class ="form-control" asp-items="ViewBag.MusicPlatformID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MusicID" class="control-label"></label>
                <select asp-for="MusicID" class ="form-control" asp-items="ViewBag.MusicID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

