@model Harissa.Data.Data.PageSettings

@{
    ViewData["Title"] = "Prywatność";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 text-justify text-white formatNewLine">
        <i class="fas fa-quote-left float-left"></i>
        @Model.privacyPolicy.Text
        <i class="fas fa-quote-right float-right"></i>
    </div>
</div>