@{
    ViewData["Title"] = "Privacy Policy";
}



<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h2>serwis</h2>

    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <h2>portfolio</h2>

    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">

    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">

    </div>
</section>
<!-- Clients-->
<div class="py-5">
    <div class="container">

    </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">

    </div>
</section>
