@model Harissa.Data.Data.Video

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("TopNavi")
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/@Model.Link" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen style="width:100%; min-height:350px;">
            </iframe>
        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VideoID" />
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group text-sm-right">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

