@model Harissa.Data.Data.Music
@using Harissa.Data.Data
@using Harissa.Data.HelperClass

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Music</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IFrame" class="control-label"></label>
                <input asp-for="IFrame" class="form-control" />
                <span asp-validation-for="IFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPublication" class="control-label"></label>
                <input asp-for="DateOfPublication" min="2000" class="form-control" />
                <span asp-validation-for="DateOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCover" class="control-label"></label>
                <input asp-for="NewCover" type="file" class="form-control" />
                <span asp-validation-for="NewCover" class="text-danger"></span>
            </div>

            <hr />
            @{ 
                string getimg;
            }
           @foreach (var item in @ViewBag.MusicPlatfomrs as List<MusicPlatform>)
           {
            <input type="hidden" name="LinkToAlbum[]" value="@item.MusicPlatformID" />
            <div class="form-group">
                @{
                    getimg = new CloudAccess().GetImg(item.Icon);
                }
                <img src="@getimg" class="img-fluid rounded" />
                <label asp-for="MusicLinks.FirstOrDefault().LinkToAlbum" class="control-label"></label>
                <input name="LinkToAlbum[]" class="form-control" />
                <span asp-validation-for="MusicLinks.FirstOrDefault().LinkToAlbum" class="text-danger"></span>
            </div>
            }
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

