@model Harissa.Data.Data.News
@using Harissa.Data.HelperClass
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("TopNavi")
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsID" />
            <input type="hidden" asp-for="MediaItem" />
            <div class="form-group">
                @{ string img = new CloudAccess().GetImg(null);}
                <img src="@img" class="form-control rounded imgPreview img-thumbnail" />
                <input name="NewMediaItem" type="file" accept="image/*" class="form-control newMediaItem" />
                <span asp-validation-for="MediaItem" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" cols="3" rows="3"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPublication" class="control-label"></label>
                <input asp-for="DateOfPublication" class="form-control" />
                <span asp-validation-for="DateOfPublication" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12 text-left">
            <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>

    </div>
</form>


<script src="~/js/photoPreview.js">
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
