@model Harissa.Data.Data.News
@using Harissa.Data.HelperClass
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col text-left">
        <h4><i class="bi bi-chat-left-text m-2" style="font-size: 2.5rem;"></i>News/Edit</h4>
    </div>
    <div class="col text-right">
        <a asp-action="Index"><i class="bi bi-arrow-left-circle" style="font-size:2rem; color:black;"></i></a>
    </div>
    <div class="col-12">
        <h6>Are you sure you want to delete this?</h6>
        <hr />
    </div>
</div>
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsID" />
            <input type="hidden" asp-for="MediaItem" />
            <div class="form-group">
                <label asp-for="MediaItem" class="control-label"></label>
                @{ string img = new CloudAccess().GetImg(Model.MediaItem);}
                <img src="@img" id="imgPreview" class="form-control-file rounded" />

                <input name="NewMediaItem" id="newMediaItem" type="file" accept="image/*" class="form-control-file" />
                <span asp-validation-for="MediaItem" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" cols="3" rows="3"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPublication" class="control-label"></label>
                <input asp-for="DateOfPublication" class="form-control" />
                <span asp-validation-for="DateOfPublication" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12 text-left">
            <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>

    </div>
</form>


<script src="~/js/photoPreview.js">
    //image Preview
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
